.carousel img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  object-position: center;
  filter: blur(2px);
}

.carousel-caption {
  color: var(--quaternary-color) !important;
  opacity: 95%;
  font-size: 100px;
  margin-bottom: 100px;
  background-color: var(--primary-color);
  width: 60vw;
  margin-left: 5vw;
  border-radius: 10px;
  z-index: 1;
}

.carousel-caption h3 {
  font-size: 3.5vw;
  font-weight: lighter;
}

.carousel-caption h3 span {
  font-size: 5vw;
  font-weight: 700;
}

.carousel-caption p {
  font-family: "Sedan SC", serif;
  font-size: 1.5vw;
}
